/* ==========================================================================
   Page Styles
   ========================================================================== */

body.page {
	#main {
		article {
			.entry-content {
				img.featured-image {
					border: 3px solid $secondary_color;
					@media (min-width: 768px) {
						width: 270px;
					}

					@media (min-width: 992px) {
						width: 320px;
					}

					@media (min-width: 1200px) {
						width: 400px;
					}
				}
			}
		}
	}
}