/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$light: #fff;
$dark: #000;
$gray: #aaa;
$primary_color: #6dbf4e;
$secondary_color: #021f3f;
$secondary_dark: #1a2624;
$accent: #ff8e32;
$heading_color: #021f3f;

/* Fonts */
$os: Helvetica, sans-serif;
$serif: Times, serif;